@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 40vh;
    background-color: rgb(83, 98, 90);
    background-image: url(https://images0.persgroep.net/rcs/-JWJbJM3QbysLEuRZT-s64xJZj8/diocontent/139148778/_fill/1350/900/?appId=21791a8992982cd8da851550a453bd7f&quality=0.9 );
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    text-shadow: 7px 7px #9a438b;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 20px auto;
    color: black;
    font-size: 1.1em;
    max-width: 1000px;
    font-family: "Raleway", sans-serif;
    border-radius: 20px;
    border-top: 3px solid #9a438b;
}

nav {
    background-color: #9a438b;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 15px 45px;
    height: 6vh;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.6em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav div:hover,
nav div.selected {
    display: block;
}

nav div:hover a {
    color: black;
}

footer {
    background-color: #9a438b;
    height: 10vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: auto;
    text-align: center;
}


/*Mobile*/

@media only screen and (max-width: 600px) {
    section {
        max-width: 100%;
    }

    header {
        display: block;
        height: 20vh;
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1em;
        font-family: "Poppins", sans-serif;
        text-shadow: 3px 3px rgb(222, 158, 54);
    }

    section{
        width: 80vw;;
    }

    nav {
        height: 15vh;
        flex-direction: column;
    }

    nav div {
        border-bottom: 1px solid white;
    }

    .sticky {
        position: initial;
    }
}